body{
    margin: 0 auto;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}



.text-dep{
    width: 500px;   
    height: 80px;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    color: white;
    background-color: #0064c2;
    margin-left: 33px;
}

#backButton {
    position: relative;
    width: 140px;
    height: 80px;
    background-color: #0064c2; /* สีพื้นหลัง */
    color: white; /* สีข้อความ */
    border: none; /* ไม่มีขอบ */
    padding: 10px 20px; /* ระยะห่างภายในปุ่ม */
    border-radius: 10px; /* มุมโค้งของปุ่ม */
    cursor: pointer; /* เปลี่ยนเคอร์เซอร์เมื่อเลื่อนมาที่ปุ่ม */
    left: 330px;
    bottom: 76px;
}

#backButton:hover {
    background-color: #0056b3; /* สีพื้นหลังเมื่อเอาเมาส์ชี้ */
  }


.graph{
    width: 650px;
    height: 430px;
    background-color: #D9D9D9;
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
 
}


.btn{
    width: 650px;
    height: 70px;
    margin-left: 34px;
    margin-bottom: 10px;
    color: white;
}

.text-dep2{
    width: 800px;   
    height: 70px;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    color: white;
    background-color: #0064c2;
    margin-top: 10px;
}







.webcam{
    width: 800px;
    height: 600px;
    margin-left: -150px;
    margin-top: 50px;
}


.box-1 {
    width: 800px;
    height: 600px;
    background-color: #545454;
    border-radius: 10px;
}

.carousel{
    width: 800px;
    height: 600px;
    border-radius: 10px;
}

.box-1 p{
    font-size: 20px;
    font-weight: bold;
    float: left;
    color: white;
    padding-top: 10px;
    padding-right: 10px;
}


.row{
    width: 700px;
    margin-top: -600px;
    margin-left: 800px;

}

.graph{
    display: flex;
    justify-content: center;
    align-items: center;
}






