body{
    margin: 0 auto;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}



.header{
    background-color: #0064c2;
}

.nav-link:hover {
    background-color: #ffffff; /* เปลี่ยนสีข้อความเมื่อ hover */
    color:#0064c2
  }
  

.nav{
    font-weight: bold;
    font-size: 20px;
}

.nav a{
    color: white;
}


.icon{
    width: 60px;
    height: 60px;
    padding-left: 5px;
}

.namecom{
    padding-left: 10px;
    color: white;
}


.icon{
    width: 60px;
    height: 60px;
    padding-left: 5px;
}

.namecom{
    padding-left: 10px;
    color: white;
}


.text-box-create{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 560px;
    height: 50px;
    color: black;
    background-color:#ffffff;
    font-size: 20px; 
    border-radius: 5px;
    border: 2px solid #ccc; /* เพิ่มสีกรอบ */
    margin-top: 50px;
}

::placeholder {
    color: #000000; /* สีขาว */
    opacity:0.5; /* ความโปร่งใสของ placeholder */
}


.accept-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.accept-box button{
    width: 200px;
    height: 50px;
    color: #ffffff;
    background-color: #0064c2;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #0064c2; /* เพิ่มสีกรอบ */
    margin-top: 25px;
}




