.header{
    background-color: #0064c2;
}


.nav-link{
    margin-top: 5px;
}



.nav-link:hover {
    background-color: #ffffff; /* เปลี่ยนสีข้อความเมื่อ hover */
    color:#0064c2
  }


.admin{
    color: rgb(255, 7, 7);
}

.user{
    color: rgb(98, 255, 7);
}


.nav{
    font-weight: bold;
    font-size: 20px;
}

.nav a{
    color: white;
}


.icon{
    width: 60px;
    height: 60px;
    padding-left: 5px;
}

.namecom{
    padding-left: 10px;
    color: white;
}


.icon{
    width: 60px;
    height: 60px;
    padding-left: 5px;
}

