body{
    margin: 0 auto;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}
.card{
    width: 286px;
    height: 460px;
}

.card img{
    width: 284px;
    height: 225px;
}

.card p{
    font-size: 15px;
}
.card h5{
    font-size: 20px;
}

.card h5{
    font-size: 20px;
}   

.yellow{
    background-color: orange; 
    color: white;
    border-radius: 5px;
    font-size: 1em;
    padding: 5px 10px;
}
.green{
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    padding: 5px 10px;
}
.red{
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    padding: 5px 10px;
}

.btn{
    margin-top: 55px;
}

.searchButton {
    width: 40px;
    height: 38px;
    border-radius: 5px;
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
  }
  
  .searchButton:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }  





.pagination{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.footer{
    background-color: #0064c2;
    font-size: 15px;
    color: #ffffff;
    width: 100%;
    height: 100%;
    margin-top: 70px;
}



  

  