body{
    margin: 0 auto;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}

.header{
    background-color: #0064c2;
}

.nav-link:hover {
    background-color: #ffffff; /* เปลี่ยนสีข้อความเมื่อ hover */
    color:#0064c2
  }
  

.nav{
    font-weight: bold;
    font-size: 20px;
}

.nav a{
    color: white;
}


.icon{
    width: 60px;
    height: 60px;
    padding-left: 5px;
}

.namecom{
    padding-left: 10px;
    color: white;
}

#sum{
    padding-top: 20px;
    font-size: 20px;
    padding-left: 20px;
    color: red;
}

.text-dep{
    width: 650px;   
    height: 80px;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    color: white;
    background-color: #0064c2;
    margin-left: 45px;
}
.webcam{
    width: 800px;
    height: 600px;
    margin-left: -150px;
    margin-top: 50px;
}


.box-1 {
    width: 600px;
    height: 560px;
    background-color: #545454;
    border-radius: 10px;

}

.box-1 p{
    font-size: 20px;
    font-weight: bold;
    float: left;
    color: white;
    padding-top: 10px;
    padding-right: 10px;
}



.box-cam {
    width: 800px;
    height: 80px;
    background-color: #D3D3D3;
}


.video{
    margin-bottom: 500px;
}


.circle {
    width: 75px;
    height: 75px;
    background-color: #8A8A8A;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    padding-top: 6px;
    margin-left: 350px;
}

.fas.fa-camera:hover {
    color: rgb(240, 240, 243); /* เปลี่ยนสีเมื่อ hover */
    transition: all 0.1s ease; /* เพิ่ม transition เพื่อทำให้การเปลี่ยนแปลงเกิดอย่างนุ่มนวล */
    cursor: pointer;
}



.row{
    width: 700px;
    margin-top: -600px;
    margin-left: 660px;
}

.col-6{
    width: 300px;   
    height: 80px;
    font-size: 18px;
    text-align: center;
    padding-top: 25px;
    border-radius: 10px;
    color: white;
    background-color: #adadad;

}


.footer{
    background-color: #0064c2;
    font-size: 15px;
    color: #ffffff;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

#video,#canvas{
    display: none;
}